@font-face {
  font-family: Montserrat;
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
  src: url(../../../../assets/fonts/Montserrat-Regular.ttf);
  src: url(../../../../assets/fonts/Montserrat-Medium.ttf);
}
.article {
  &__thumbnail {
    & > img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
      border-radius: 10px;
    }
  }
  &__name {
    font-weight: bold;
    height: 45px;
  }
  &__price {
    display: flex;
    justify-content: flex-end;
    font-family: "Montserrat", sans-serif;
    font-weight: Medium;
    font-size: 16px;
    color: #4d5ee8;
    margin-right: 10px;
    margin-top: -10px;
  }
}
.article__thumbnail {
  position: relative;
  display: inline-block;
}
.spct-name-price{
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 200px;
  background-color: rgb(241, 239, 255);
  border: 1px solid;
}
.button-push {
  display: flex;
  justify-content: flex-end;
}