@font-face {
    font-family: 'Montserrat';
    src: url(../../../assets/fonts/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../../../assets/fonts/Montserrat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Montserrat';
    src: url(../../../assets/fonts/Montserrat-Black.ttf);
    font-weight: 900;
    font-style: normal;
  }
  @media screen and (max-width: 1023px) {
      .logo-welcome{
        display: none;
      }
      .fisrt-content{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 70px;
      }
      .second-content{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .more-info{
        width: 250px;
        margin-bottom: 20px;
      }
      .welcome-img{
        width: 400px;
      }
      .caring-product{
        display: none;
      }
      .hotProduct{
        display: none;
      }
      .hot-products-container button{
        display: none;
      }
  }
  @media (min-width: 1024px) {
.all-detail{
    width: 1499px;
    margin-bottom: 30px;
  }
  .contain-detail{
    background-image: url("../../../assets/images/background-welcome.png");
    background-size: 1499px auto;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .logo-welcome{
    width: 250px;
    margin: 150px 0px 10px 200px;
    
  }
  .fisrt-content{
    margin: 0px 0px 0px 225px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 350px;
  }
  .second-content{
    margin: 0px 0px 20px 225px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 27px;
    display: flex;
    text-align: left;
    align-items: center;
    width: 320px;
  }
  .more-info{
    margin: 30px 300px 0px 210px;
    width: 200px;
  }
  .more-info:hover {
    filter: brightness(0.94);
  }
  .welcome-img{
    width: 700px;
    margin: 100px 0px 200px -250px;
  }
  .caring-product {
    margin: 0px 10px 10px 10px;
    padding: 10px;
    display: inline-block;
    background-color: lavender;
    width: 350px;
    height: 35px;
    background: #8690FC;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 40px;
  }
  .hot-products-container {
    display: flex;
    align-items: center;
  }
  .btn-next{
    border-radius: 50%;
    border: none;
    width: 80px;
    height: 80px;
    background-color: #FFFCF2;
  }
  .next-button{
    width: 80px;
    margin-left: -10px;
    transition: opacity 0.1s ease-in-out;
  }
  .btn-pre{
    border-radius: 50%;
    border: none;
    width: 80px;
    height: 80px;
    background-color: #FFFCF2;
  }
  .pre-button{
    width: 80px;
    margin-right: -10px;
    transition: opacity 0.1s ease-in-out;
  }
}
.bd-dk{
  display: flex;
  justify-content: center;
  background-image: url("../../../assets/images/account-page.png");
  background-size: 1499px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.card-dk{
  position: relative;
  width: 320px;
  height: 538px;
  background-color: #c8ffa9;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
  transition: 1s;
}
.card-dk .details-dk{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-dk .details-dk .content-dk h2{
  text-align: center;
  line-height: 1em;
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 20px;
}
.card-dk .imgBox-dk{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  transform-origin: left;
  transform-style: preserve-3d;
  background-color: #FFFCF2;
  transition: 1s;
  box-shadow: 10px 20px 40px rgba(0,0,0,0.25);
}
.card-dk:hover{
  transform: translateX(50%);
}
.card-dk:hover .imgBox-dk{
  transform: rotateY(-180deg);
}
.card-dk .imgBox-dk img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
.card-dk .imgBox-dk img:nth-child(2){
  transform: rotateY(180deg);
}
.logo-welcome-dk{
  width: 120px;
}
.dk-icon-sm{
  width: 150px;
}
.dk-icon-sm:hover {
  filter: brightness(0.94);
}
.bd-water{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background: url("../../../assets/images/member-page.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.liquid-wt{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.liquid-wt h2{
  position: absolute;
  font-size: 9vw;
}
.liquid-wt h2:nth-child(1){
  color: #c8f4ff;
  text-shadow: -2px 2px 0px #191854,
  -4px 4px 0px #191854,
  -6px 6px 0px #191854,
  -8px 8px 0px #191854,
  -18px 18px 20px rgba(0,0,0,0.5),
  -18px 18px 20px rgba(0,0,0,0.5),
}
.liquid-wt h2:nth-child(2){
  color: #2196f3;
  opacity: 0.5;
  animation: animatewt 3s ease-in-out infinite;
}
.liquid-wt h2:nth-child(3){
  color: #2196f3;
  opacity: 0.5;
  animation: animatewt 6s ease-in-out infinite;
}
.liquid-wt h2:nth-child(4){
  color: #2196f3;
  animation: animatewt 4s ease-in-out infinite;
}
@keyframes animatewt {
  0%, 100%{
    clip-path: polygon(0% 46%, 16% 45%, 34% 52%, 50% 61%, 68% 65%, 85% 61%, 100% 53%, 100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0% 59%, 18% 67%, 36% 70%, 51% 66%, 66% 56%, 82% 49%, 100% 45%, 100% 100%, 0% 100%);
  }
}
.bd-infor-hp{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  background-image: url("../../../assets/images/account-page.png");
  background-size: 1499px auto;
  background-repeat: no-repeat;
  background-position: center center;
}
.bd-infor-hp ul{
  position: relative;
  transform: skewY(-25deg);
}
.bd-infor-hp ul li{
  position: absolute;
  top: 0;
  transform: translate(calc(var(--i) *40px), calc(var(--i)*40px));
  list-style: none;
  width: 100px;
  padding: 15px;
  background: #383838;
  transition: 0.5s;
}
.bd-infor-hp ul li:hover{
  top: -54px;
  background: var(--clr);
}
.bd-infor-hp ul li::before{
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  height: 100%;
  background: #2f2f30;
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
}
.bd-infor-hp ul li:hover::before{
  background: var(--clr);
  filter: brightness(0.8);
}
.bd-infor-hp ul li::after{
  content: attr(data-text);
  position: absolute;
  top: -39px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #3e3e3e;
  transform-origin: bottom;
  transform: skewX(45deg);
  box-shadow: -120px 120px 20px rgba(0,0,0,0.25);
  transition: 0.5s;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  left: 0.05em;
  padding-left: 15px;
  box-sizing: border-box;
  color: var(--clr);
}
.bd-infor-hp ul li:hover::after{
  filter: brightness(0.9);
  background: var(--clr);
  color: #fff;
  box-shadow: -170px 170px 20px rgba(0,0,0,0.25);
}
.bd-infor-hp ul li a{
  text-decoration: none;
  color: transparent;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}
.bd-infor-hp ul li:hover a{
  color: #fff;
} 
.bd-infor-hp ul li a span{
  position: absolute;
  top: 0;
  left: -40px;
  width: 40px;
  text-align: center;
  height: 100%;
  color: var(--clr);
  transform-origin: right;
  transform: skewY(45deg);
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
}
.bd-infor-hp ul li:hover a span{
  color: #fff;
}





  