@font-face {
  font-family: Montserrat;
  src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
  src: url(../../assets/fonts/Montserrat-Regular.ttf);
}
header {
  background-color: #fffcf2;
}

.custom-wallet {
  background-image: url(../../assets/images/wallet-page.png);
  background-size: cover; /* Sử dụng cover để đảm bảo ảnh nền tràn đầy */
  background-position: center; /* Căn giữa ảnh nền */
  background-repeat: no-repeat;
}
.space-wallet{
    padding-top: 300px;
    padding-bottom: 300px;
    margin-top: 70px;
}
button.deposit-btn{
    border-radius: 100px;
    border: none;
    background: #FFFCF2;
}
.deposit-coin-icon{
    width: 300px;
    margin-bottom: 70px;
    margin-bottom: 20px;
}
