@font-face {
  font-family: Montserrat;
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
  src: url(../../../../assets/fonts/Montserrat-Regular.ttf);
  src: url(../../../../assets/fonts/Montserrat-Medium.ttf);
}

@media only screen and (max-width: 480px) {
  .filter-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .filter-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(185, 199, 255);
    font-family: "Montserrat", sans-serif;
  }
  .btn-item-drop {
    padding: 0px 5px 10px 5px;
  }
  .btn-item-drop button {
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: Medium;
    font-size: 15px;
  }
  .product-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-list > li {
    flex-basis: 20%;
    margin-bottom: 20px;
    list-style-type: none;
    background: #f0f0f0;
    border: 0.5px solid #ffd1a7;
    border-radius: 10px;
    height: 250px;
  }
  .product-item-list {
    border: solid 1px;
    border-radius: 10px;
    margin: 8px;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #customized-dialog-title {
    display: flex;
    justify-content: center; /* Căn giữa dọc */
    align-items: center; /* Căn giữa dọc */
  }

  .page-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }
  .page-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(136, 160, 255);
    font-family: "Montserrat", sans-serif;
  }
  .custom-next-pre-btn {
    display: flex;
    justify-content: center;
  }
  .btn-next-to {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fffcf2;
    border: none;
    margin-left: 10px;
  }
  .btn-previous {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fffcf2;
    margin-left: -100px;
    margin-right: 80px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  .filter-btn {
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .filter-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(185, 199, 255);
    font-family: "Montserrat", sans-serif;
  }
  .btn-item-drop {
    padding: 0px 5px 10px 5px;
  }
  .btn-item-drop button {
    padding: 10px;
    width: 280px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: Medium;
    font-size: 15px;
  }
  .product-item-list {
    border: solid 1px;
    border-radius: 10px;
    margin: 8px;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sidebar {
    overflow-x: auto !important;
    overflow-y: auto;
    max-height: 200px;
    overflow-x: hidden;
    width: 380px;
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .page-btn {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
  }
  .page-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(136, 160, 255);
    font-family: "Montserrat", sans-serif;
  }
  .product-list-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .custom-next-pre-btn {
    display: flex;
    justify-content: center;
  }
  .btn-next-to {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fffcf2;
    border: none;
    margin-left: 10px;
  }
  .btn-previous {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #fffcf2;
    margin-left: -100px;
    margin-right: 80px;
  }
  .product-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
  }
  .product-list > li {
    flex-basis: 20%;
    margin-bottom: 20px;
    list-style-type: none;
    background: #f0f0f0;
    border: 0.5px solid #ffd1a7;
    border-radius: 10px;
    height: 250px;
  }
}
@media only screen and (min-width: 1025px) {
  .span-price {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-top: 5px;
    color: red;
  }
  .p-cate-name {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #4d5ee8;
  }
  .p-cate-des {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
  }
  .product-list-wrapper {
    padding-top: 90px;
    padding-bottom: 100px;
    display: flex;
    background-image: url(../../../../assets/images/all-product.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .filter-btn {
    position: absolute;
    margin-left: 700px;
    margin-top: -60px;
    display: flex;
    justify-content: center;
  }
  .filter-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(185, 199, 255);
    font-family: "Montserrat", sans-serif;
  }
  // .btn-item-drop {
  //   padding: 10px 20px 10px 20px;
  // }
  .btn-item-drop button {
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: Medium;
    font-size: 15px;
  }
  .product-item-list {
    border: solid 1px;
    border-radius: 10px;
    margin: 8px;
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
  }
  .sidebar {
    overflow-y: auto;
    max-height: 400px;
    overflow-x: hidden;
    padding-right: 20px;
    margin-left: 135px;
    width: 320px;
    overflow-x: auto !important;
  }
  .page-btn {
    margin-top: -10px;
    display: flex;
    justify-content: flex-start;
    margin-left: -1310px;
  }
  .page-btn button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin: 5px;
    background-color: rgb(136, 160, 255);
    font-family: "Montserrat", sans-serif;
  }
  .btn-next-to {
    position: absolute;
    border-radius: 50%;
    border: none;
    width: 40px;
    height: 40px;
    background-color: #fffcf2;
    margin-top: 525px;
    margin-left: -1200px;
  }
  .next-to-button {
    width: 80px;
    margin-left: -20px;
    margin-top: -45px;
    transition: opacity 0.1s ease-in-out;
  }
  .previous-button {
    width: 80px;
    margin-left: -15px;
    transition: opacity 0.1s ease-in-out;
    margin-top: -10px;
  }
  .btn-previous {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    margin-top: 490px;
    margin-left: -1400px;
  }
  .product-list {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-left: 80px;
  }

  .product-list > li {
    flex-basis: 20%;
    margin-bottom: 20px;
    list-style-type: none;
    background: #f0f0f0;
    border: 0.5px solid #ffd1a7;
    border-radius: 10px;
  }
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.button-list-wrapper {
  height: 100%;
}
.my-dialog .modal-dialog {
  max-width: 900px;
  width: 100%;
}

.my-dialog .modal-content {
  width: 100%;
}

.arrange-fiter {
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.arrange-all-fiter{
    padding: 10px;
    width: 220px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: Medium;
    font-size: 15px;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }

.filter-icon {
  margin-right: 5px;
}

//css product
.app-product {
  max-width: 1200px;
  width: 100%;
  // margin: 100px auto;
  // box-shadow: 0 0 5px #ccc;
}

.details-product {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0;
}

.details-product .big-img {
  max-width: 500px;
  min-width: 290px;
  overflow: hidden;
  margin: 25px;
}

.big-img img {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}
.big-img video {
  width: 100%;
  height: 100%;
  max-height: 400px;
  display: block;
  object-fit: cover;
  border-radius: 8px;
}

.details-product .box-product {
  max-width: 500px;
  min-width: 290px;
  margin: 25px;
}

.box-product .row-product {
  display: flex;
  justify-content: space-between;
  // margin-bottom: -25px;
}

.box-product .row-product h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 !important;
}

.box-product .row-product span {
  color: crimson;
}

.box-product .colors button {
  width: 30px;
  height: 30px;
  border: 1px solid #333;
  outline: none;
  margin-right: 5px;
  cursor: pointer;
}

.box-product p {
  line-height: 1.5;
  margin: 15px 0;
}

.thumb {
  width: 100%;
  height: 100px;
  display: flex;
  cursor: pointer;
  margin: 10px 0;
}

.thumb img {
  width: 90px;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid #ddd;
  margin-right: 5px;
  opacity: 0.7;
  // border-radius: 5px;
}

.thumb img.active {
  opacity: 1;
  border: 1px solid rgb(191, 182, 140);
}

.box-product .cart {
  background: #333;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 10px 25px;
  margin-top: 15px;
  border-radius: 8px;
}
.span-price {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  margin-top: 5px;
  color: red;
}
.p-cate-name {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #4d5ee8;
}
.p-cate-des {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

@media (max-width: 500px) {
  .thumb {
    height: 50px;
  }

  .thumb img {
    width: 50px;
  }
}
.seller-info{
  margin-top: 20px;
}

.details-thumb {
  margin-bottom: 80px;
}

.contact-seller {
  display: block;
}

.product-details {
  display: flex;
  flex-direction: column;
}