@font-face {
  font-family: Montserrat;
  src: url(../../../../assets/fonts/Montserrat-SemiBold.ttf);
  src: url(../../../../assets/fonts/Montserrat-Regular.ttf);
  src: url(../../../../assets/fonts/Montserrat-Medium.ttf);
}

.product-list-wrapper {
  padding-top: 150px;
  padding-bottom: 210px;
  display: flex;
  background-image: url(../../../../assets/images/all-product.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.sidebar {
  width: 200px;
  padding-right: 20px;
  margin-left: 135px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.product-list {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
.product-item-list{
  border: solid 1px;
  border-radius: 10px;
  margin: 10px;
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.25));
}

.product-list > li {
  flex-basis: 25%;
  padding: 0px 10px 0px 10px;
  margin-bottom: 20px;
  list-style-type: none;
  background: #F0F0F0;
  border: 0.5px solid #FFD1A7;
  border-radius: 10px;
}

.btn-item-drop{
  padding: 10px 20px 10px 20px;
}
.btn-item-drop button{
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: Medium;
  font-size: 15px;
}
.btn-next-to{
  position: absolute;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background-color: #FFFCF2;
  margin-top: 170px;
  margin-left: -180px;
}
.next-to-button{
  width: 80px;
  margin-left: -20px;
  margin-top: -20px;
  transition: opacity 0.1s ease-in-out;
}
.previous-button{
  width: 80px;
  margin-left: -15px;
  transition: opacity 0.1s ease-in-out;
  margin-top: -10px;
}
.btn-previous{
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  margin-top: 160px;
  margin-left: -1108px;
}
