@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
  }
  
  .header-member{
    background-image: url(../../assets/images/account-page.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.wrapper-card{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60.5vh;
    flex-wrap: wrap;
}
.mkt-member-team{
    padding-top: 90px;
}
.se-member-team{
    padding-bottom: 30px;
}
.card-mb{
    background-color: black;
    position: relative;
    width: 350px;
    height: 190px;
    transition: 0.5s;
  }
  .card-mb:hover{
    height: 450px;
  }
  .card-mb .lines{
    position: absolute;
    inset: 0;
    background: white;
    overflow: hidden;
  }
  .card-mb .lines::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #8c7dfd, #8c7dfd, #8c7dfd, transparent);
    animation: animate 5s linear infinite;
  }
  @keyframes animate {
    0%{
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
  .card-mb .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: linear-gradient(180deg, rgba(170, 255, 199, 0.65) 0%, rgba(255, 255, 255, 0) 100%), rgba(232, 255, 167, 0.9);
  }
  .card-mb .imgBx{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 150px;
    background: FFFCF2;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
  }
  .card-mb:hover .imgBx{
    width: 250px;
    height: 250px;
  }
  
  
  .card-mb .imgBx::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 150px;
    background: linear-gradient(transparent, #F262C3, #F262C3, #F262C3, transparent);
    animation: animate2 6s linear infinite;
  }
  @keyframes animate2
  {
  0%{
    transform: translate(-50%, -50%) rotate(360deg);
  }
  100%{
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.card-mb .imgBx::after{
    content: "";
    position: absolute;
    inset: 3px;
    background: rgba(252, 170, 214, 0.66);
  }
  .card-mb .imgBx img{
    top: 10px;
    left: 10px;
    position: absolute;
    z-index: 1;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
  }
  .card-mb .content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
  }
  .card-mb .content .details{
    padding: 20px 40px 20px 40px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
  }
  .card-mb:hover .content .details{
    transform: translateY(0px);
  }
  .card-mb .content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: black;
    line-height: 1.2em;
    font-family: "Montserrat", sans-serif;
  }
  .card-mb .content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    color: black;
    font-family: "Montserrat", sans-serif;
  }
  .card-mb .content .details .data{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  .card-mb .content .details .data h3{
    font-size: 1em;
    color: black;
    line-height: 1.2em;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
  }
  .card-mb .content .details .data h3 span{
    font-size: 13px;
    font-weight: 400;
    color: black;
    font-family: "Montserrat", sans-serif;
  }
  .card-mb .content .details .actionBtn{
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  .card .content .details .actionBtn button{
    padding: 10px 30px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 1em;
    font-weight: 500;
    background: #FCAAD6;
    color: black;
    cursor: pointer;
    opacity: 0.9;
    font-family: "Montserrat", sans-serif;
  }
  .card-mb .content .details .actionBtn button:nth-child(2){
    background: #fff;
  }
  .card-mb .content .details .actionBtn button:hover{
    opacity: 1;
  }
  .link-facebook{
    text-decoration: none;
  }
// }