@font-face {
    font-family: Montserrat;
    src: url(../../assets/fonts/Montserrat-SemiBold.ttf);
    src: url(../../assets/fonts/Montserrat-Regular.ttf);
  }
  header {
    background-color: #fffcf2;
  }
  
  .custom-login {
    margin-top: 50px;
    background-image: url(../../assets/images/login-page.png);
    background-size: cover; /* Sử dụng cover để đảm bảo ảnh nền tràn đầy */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat;
  }
  
  
  .login-title {
    text-align: right;
    margin: 0px 480px 0px 0px;
    padding-top: 100px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
  }
  
  .hehe {
    height: 600px;
  }
  
  
  .detail-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 230px;
  }
  
  .google-login,
  .facebook-login {
    margin-left: 10px;
    border-radius: 10px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    margin-top: 160px;
    width: 250px;
    height: 80px;
    background: none;
  }
  
  
  .facebook-login {
    margin-left: 20px;
  }
  .no-underline {
    text-decoration: none;
  }
  
  .login-google, .login-facebook {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    background-color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 16px;
    
  }
  .login-google{
    margin-left: 165px;
    margin-top: 55px;
  }
  .login-facebook{
    margin-left: -100px;
    margin-top: 160px;
  }
  
  .google-icon,
  .facebook-icon {
    width: 50px;
    margin-right: 10px;
  }
  